#fps-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#fps-range::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
#fps-range {
    -webkit-appearance: none;
    width: 100px;
    height: 10px;
    border-radius: 3px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.animation-player {
    border: 6px double rgba(28,110,164,0.3);
    border-radius: 10px;
}
